<ion-view view-title="LEDControl">
  <ion-content>
		<ion-list>
			<ion-item class="item-icon-left item-toggle">
				<i class="icon ion-ios-lightbulb-outline"></i>
				Lights
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="led.state" ng-click="ledControl(led.state)" ng-checked="!led.state">
					<div class="track">
						<div class="handle">
						</div>
					</div>
				</label>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-ios-musical-notes"></i>
				Music
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-ios-videocam"></i>
				Surveilance
			</ion-item>

		</ion-list>
</ion-content>
</ion-view>
