<ion-view view-title="LEDControl">
  <ion-content>
		<div class="card card-btn positive " ng-class="{ 'active': !led.state }" ng-click="ledControl(led.state)">
			<div class="caption" >
				<h5>Desk</h5>
				<h1 ng-if="led.state"> OFF </h1>
				<h1 ng-if="!led.state"> ON </h1>
			</div>
			<div class="icon"><i class="icon ion-ios-lightbulb-outline"></i></div>
		</div>
		<div class="card card-btn positive " ng-class="{ 'active': led.state }" ng-click="ledControl(led.state)">
			<div class="caption" >
				<h5>Ceiling</h5>
				<h1 ng-if="led.state"> OFF </h1>
				<h1 ng-if="!led.state"> ON </h1>
			</div>
			<div class="icon"><i class="icon ion-ios-lightbulb-outline"></i></div>
		</div>
</ion-content>
</ion-view>
