/* Empty. Add your own CSS if you like */
.pane {
	background-color: #2f2f2f;
}

.card.card-btn {
	min-height: 100px ;
	display: flex;
	flex-direction: row;
	align-content: stretch;
	justify-content: space-between;
	border-radius: 0px;
	border: 0px solid white;
	margin: 0px 0px;
	color: white;
	padding: 0px;
}

.card.card-btn .caption > h1 {
	text-align: center;
	color: #222;
}

.card.card-btn .caption > h5 {
	color: #222;
}

.card.card-btn.active .caption > h1,
.card.card-btn.active .caption > h5 {
	color: white;
}

.card.card-btn > .icon {
	justify-content: space-around;
	align-self: center;
	flex-direction: column;
	text-align: center;
	width: 50%;
	height: 100px; 
	margin: 0 0;
	padding-top: 22px;
	background-color: #141414;
}
.card.card-btn > .icon > i {
	color: white;
}

.card.card-btn .caption {
	color: white !important;
	align-self: center;
	height: 100%;
	width: 50%;
	text-align: center;
}

.card.card-btn i.icon {
	font-size: 52px;
}

.card-btn.positive {
	background-color: white;
	color: white;
}
.card-btn.positive.active {
	background-color: #161E76;
	color: white;
}
